EXPO_PUBLIC_CHATWOOT_WEBSITE_TOKEN=
EXPO_PUBLIC_CHATWOOT_BASE_URL=https://app.chatwoot.com
EXPO_PUBLIC_JUNE_SDK_KEY=
EXPO_PUBLIC_MINIMUM_CHATWOOT_VERSION=3.13.0
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_PROJECT_ID=get_from_Chatwoot_dev_account
EXPO_PUBLIC_APP_SLUG=get_from_Chatwoot_dev_account
EXPO_PUBLIC_SENTRY_PROJECT_NAME=
EXPO_PUBLIC_SENTRY_ORG_NAME=
EXPO_PUBLIC_IOS_GOOGLE_SERVICES_FILE=/full/path/to/plist/firebase/file
EXPO_PUBLIC_ANDROID_GOOGLE_SERVICES_FILE=/full/path/to/json/firebase/file
EXPO_APPLE_ID=apple_dev_email_account
EXPO_APPLE_TEAM_ID=get_from_apple_dev_account
EXPO_STORYBOOK_ENABLED=false